<h1>Votre Panier</h1>
<div class="wrapper">
  <article>
    <h2>Soupe</h2>
    <img
      src="/assets/7b5c8ed2-c114-4632-a982-e5c23776445a.png"
      alt="soupe à la tomate"
    />
    <p>$12</p>
    <form action="#" method="post">
      <div>
        <label for="quantity">Quantité:</label>
        <input type="number" name="quantity" id="quantity" value="3" />
      </div>
      <div>
        <button type="submit">Mettre à jour</button>
      </div>
    </form>
    <a href="#">Retirer du panier</a>
  </article>
  <article>
    <h2>Soupe</h2>
    <img
      src="/assets/7b5c8ed2-c114-4632-a982-e5c23776445a.png"
      alt="soupe à la tomate"
    />
    <p>$12</p>
    <form action="#" method="post">
      <div>
        <label for="quantity">Quantité:</label>
        <input type="number" name="quantity" id="quantity" value="3" />
      </div>
      <div>
        <button type="submit">Mettre à jour</button>
      </div>
    </form>
    <a href="#">Retirer du panier</a>
  </article>
  <article>
    <h2>Soupe</h2>
    <img
      src="/assets/7b5c8ed2-c114-4632-a982-e5c23776445a.png"
      alt="soupe à la tomate"
    />
    <p>$12</p>
    <form action="#" method="post">
      <div>
        <label for="quantity">Quantité:</label>
        <input type="number" name="quantity" id="quantity" value="3" />
      </div>
      <div>
        <button type="submit">Mettre à jour</button>
      </div>
    </form>
    <a href="#">Retirer du panier</a>
  </article>
  <article>
    <h2>Soupe</h2>
    <img
      src="/assets/7b5c8ed2-c114-4632-a982-e5c23776445a.png"
      alt="soupe à la tomate"
    />
    <p>$12</p>
    <form action="#" method="post">
      <div>
        <label for="quantity">Quantité:</label>
        <input type="number" name="quantity" id="quantity" value="3" />
      </div>
      <div>
        <button type="submit">Mettre à jour</button>
      </div>
    </form>
    <a href="#">Retirer du panier</a>
  </article>
</div>
