<section>
  <h2>Welcome to the HomePage</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis id
    explicabo, possimus nam illum ipsa eveniet sed earum at, cupiditate impedit
    dolores cum veniam perferendis perspiciatis maxime error incidunt quibusdam.
  </p>
</section>
